{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-trailing-spaces": 2,
    "no-param-reassign": 2,
    "arrow-body-style": 0,
    "global-require": 0,
    "no-undef": 2,
    "func-names": 0,
    "no-var": 0,
    "class-methods-use-this": 2,
    "no-useless-escape": 2,
    "indent": [
      "error",
      4
    ]
  }
}
